<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^compare/(.+)-vs-(.+)-vs-(.+)$ index.php?page=compare&school1=$1&school2=$2&school3=$3 [NC,L]
RewriteRule ^assets/(.+)$ assets/$1 [NC,L]

RewriteRule ^(.+)/(.+)$ index.php?page=$1 [NC,L]
</IfModule>